.contenedor{
    display: flex;
    
}

.elemento{
    
    width: 300px;
    height: 300px;
    margin:5px;
    font-size: 40px;
}

#cajaRoja{
    background-color: red;
    color:yellow;
}

#cajaNegra{
    background-color: black;
    color:white;
}