/*
Medidas absolutas: lacagada es que siempore miden lo mismo
px
cm
pt
mm


Medidas relativas
porcentaje %
rem (16px en una pantalla normal. tamaño de letra del elemento raiz)
em(1 = tamaño de letra del padre del elemento)

*/
body{
    width: 70%;
    margin: 0 auto;
}
h1 {
    color: darkgreen;
    text-align: center;

}

.caja{
    background-color: lightgray;
    padding: 10px 80px;
    margin-top: 10px;
    border: solid 2px gray;
    border-radius: 20px;
}

#fraseCentral{
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
}